@model BookStore.Models.Publisher

@{
    ViewBag.Title = "Publisher details";
}
<a asp-action="Index"> Back to List </a>
<h3> @Html.DisplayFor(modelItem => Model.Name) </h3>
<div class="list-group">
    <div class="row">
        <div class="col-md-12 detail-div">
            <dl>
            <dt>
                @Html.DisplayNameFor(modelItem=> Model.PublisherId)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem=> Model.PublisherId)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem=> Model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem=> Model.Name)
            </dd>
            </dl>
        </div>
    </div>
</div>